---
layout: editor
title: MEI Editor for MODE

downloads:
    - name: "Marenzio Madrigal a 6"
      description: "Lib. 4, Di nettare amoroso"
      link: "M-04-6-02.mei"
context-menus:
    - { name: "Breve", icon: "keyboard-00", class: "note", action: "editSet('dur', 'breve')" }
    - { name: "Whole", icon: "keyboard-01", class: "note", action: "editSet('dur', '1')" }
    - { name: "Half", icon: "keyboard-02", class: "note", action: "editSet('dur', '2')" }
    - { name: "Quarter", icon: "keyboard-04", class: "note", action: "editSet('dur', '4')" }
    - { name: "8-th", icon: "keyboard-08", class: "note", action: "editSet('dur', '8')" }
    - { name: "16-th", icon: "keyboard-16", class: "note", action: "editSet('dur', '16')" }
    - { name: "32-th", icon: "keyboard-32", class: "note", action: "editSet('dur', '32')" }
    - { divider: true }
    - { name: "Sharp", class: "note", action: "editSet('accid', 's')" }
    - { name: "Flat", class: "note", action: "editSet('accid', 'f')" }
    - { name: "Remove accid.", class: "note", action: "editSet('accid', '')" }
    - { divider: true }
    - { name: "Slur", class: "note", action: "editInsert('slur')" }
---

<script type="text/javascript">
//<![CDATA[
	
	var vrvToolkit = new verovio.toolkit();
	var page = 1;
	var zoom = 50;
	var pageHeight = 2970;
	var pageWidth = 2100;
	var show_xml = false;
	var font = 'Leipzig';
	var drag_id = new Array();
	var drag_start;
	var dragging;
	var last_note = ["", 0]
	var editor;
	var file;
	var fileName;
	var app_xpath = "";
	var consoleText = "Console loaded.";

	
	function set_options( ) {
		pageHeight = ($(document).height() - $( "#navbar" ).height() - 4) * 100 / zoom ;
		pageWidth = ($('#svg_panel').width()) * 100 / zoom ;
		border = 50;
		options = JSON.stringify({
					inputFormat: 'mei',
					pageHeight: pageHeight,
					pageWidth: pageWidth,
					border: border,
					scale: zoom,
					adjustPageHeight: 1,
					ignoreLayout: 1,
					font: font,
					appXPathQuery: app_xpath,
				});
		vrvToolkit.setOptions( options );
	}
	
	function load_data(data) {
		set_options();
		vrvToolkit.loadData(data);
		page = 1;
		load_page();

		updateAce();
		resizeAce();

		addConsoleText("New Data Loaded.");
		var log = vrvToolkit.getLog();
		if (log != "") addConsoleText(log);
	}

	function updateAce() {
		var mei = vrvToolkit.getMEI(0, 1 );
		editor.setValue(mei);
		editor.moveCursorTo(new Number(0), new Number(0));
	}

	function updateVerovio() {
		var data = editor.getValue();
		set_options();
		vrvToolkit.loadData(data);
		load_page();
		drag_id.length = 0;

		addConsoleText("Verovio reloaded.");
		var log = vrvToolkit.getLog();
		if (log != "") addConsoleText(log);
	}

	function fetchAnnot(fileName, id_cache, type) {
		// in case parent of lyric annot does not exist
		if (type == "lyric") {
			if (editor.find('label="app-text"') == null) {
				fileName = "text/lyricParentAnnot.xml";
				type = "lyricParent";
			}
		}
		// in case we want a critical note for the measure. The code is otherwise the same.
		else if (type == "musicMeasure") {
			measureId = $(document.getElementById(id_cache[0])).closest(".measure").attr("id");
			id_cache = [measureId];
			type = "music";
		}

		$.get(fileName, function( annot ) {
			addCriticalNote(id_cache, annot, type);
		}, 'text');
	}

	function addCriticalNote(id_cache, annot, type) {
		switch (type) {
			case "music":
				if (id_cache.length != 1) return;
				var id = id_cache[0];
				editor.find("xml:id=\"" + id + "\"");
				editor.find("</measure>",{
					backwards: false
				});
				editor.navigateUp(1);
				editor.navigateLineEnd();
				editor.insert("\n");
				editor.insert(annot);
				editor.removeLines();
				editor.find('plist=""',{
						backwards: true,
						wrap: true
				});
				editor.insert('plist="' + id_cache[0] + '"');
				break;

			case "lyric":
				// create string with all ids separated by spaces
				var id_string = "";
				for (var i = id_cache.length - 1; i > 0; i--) {
						id_string = id_string.concat(id_cache[i] + " ");
					}
				id_string = id_string.concat(id_cache[0]);

				editor.find('label="app-text"')
				var tabs = countTabs("<annot");

				// insert annotation and add indentation
				editor.navigateUp(1);
				editor.navigateLineEnd();
				editor.insert("\n");
				editor.insert(annot);
				editor.removeLines();
				for (var i = 0; i < 5; i++) {
					editor.navigateUp(1);
					editor.navigateLineStart();
					for (var j = 0; j < tabs; j++) {
						editor.indent();
					}
				}

				// replace plist
				editor.find('plist=""',{
						backwards: false,
						wrap: true
				});
				editor.insert('plist="' + id_string + '"');	
				break;

			case "lyricParent":
				editor.find("</section>")
				var tabs = countTabs("</section>");

				editor.navigateUp(1);
				editor.navigateLineEnd();
				editor.insert("\n");
				editor.insert(annot);

				editor.removeLines();
				for (var i = 0; i < 7; i++) {
					editor.navigateUp(1);
					editor.navigateLineStart()
					for (var j = 0; j < tabs + 1; j++) {
						editor.indent();
					}
				}

				// create string with all ids separated by spaces and replace plist
				var id_string = "";
				for (var i = id_cache.length - 1; i > 0; i--) {
						id_string = id_string.concat(id_cache[i] + " ");
					}
				id_string = id_string.concat(id_cache[0]);
				editor.find('plist=""',{
						backwards: false,
						wrap: true
				});
				editor.insert('plist="' + id_string + '"');	
				break;

			case "tempo":
				var id = id_cache[0];
				editor.find("xml:id=\"" + id + "\"");
				editor.find("</measure>",{
					backwards: false
				});
				editor.navigateUp(1);
				editor.navigateLineEnd();
				editor.insert("\n");
				editor.insert(annot);
				editor.removeLines();
				editor.navigateUp(1);			
		}

		clearHighlights();
	}

	function countTabs(string) { 
		editor.find(string,{
				backwards: false,
				wrap: true
		});
		editor.find(' ',{
				backwards: true,
				wrap: true
		});
		var pos = editor.selection.getCursor();
		var tabSize = editor.getSession().getTabSize();		
		var tabs = pos.column/tabSize;
		return tabs;
	}

	function fetchIncipit() {
		//var voices = prompt("Please enter the number of voices");

		$.get("/text/incipit-5.xml", function( xml ) {
			incipitClefs(xml);
		}, 'text');

	}

	function incipitClefs(xml) {
		editor.moveCursorTo(new Number(0), new Number(0));
		editor.find("</scoreDef>", {
			backwards: false
		});
		var tabs = countTabs("</scoreDef>");

		console.log(tabs);
		editor.navigateLineEnd();
		editor.insert("\n");
		editor.insert(xml);

		editor.removeLines();

		for (var i = 0; i < 16; i++) {
			editor.navigateUp(1);
			editor.navigateLineStart()
			for (var j = 0; j < tabs; j++) {
				editor.indent();
			}
		}
	}

	function undoAce() {
		editor.getSession().getUndoManager().undo();
	}

	function redoAce() {
		editor.getSession().getUndoManager().redo();
	}

	function load_page() {
		svg = vrvToolkit.renderPage(page, "");
		$("#svg_output").html(svg);
	//	adjust_page_height();
	};
	
	function reload_page( id ) {
		vrvToolkit.redoLayout();
		var elementPage = vrvToolkit.getPageWithElement( id );
		if (elementPage == 0) {
			console.log( "ID not found" );
			return;
		}
		if (elementPage != page) {
			page = elementPage;
		}
		load_page();
	}
	
	function next_page() {
		if (page >= vrvToolkit.getPageCount()) {
			return;
		}
		page = page + 1;
		load_page();
		reapplyHighlights();
	};

	function prev_page() {
		if (page <= 1) {
			return;
		}
		page = page - 1;
		load_page();
		reapplyHighlights();
	};

	function first_page() {
		page = 1;
		load_page();
		reapplyHighlights();		
	};
	
	function last_page() {
		page = vrvToolkit.getPageCount();
		load_page();
		reapplyHighlights();
	};

	function apply_zoom() {
		set_options();
		vrvToolkit.redoLayout();

		if (drag_id.length > 0) {
			page = vrvToolkit.getPageWithElement(drag_id[0]);
		}
		else {
			page = 1;
		}
		load_page();
		reapplyHighlights();
	}

	function zoom_out() {
		if (zoom < 20) {
			return;
		}
		zoom = zoom / 2;
		apply_zoom();
	}

	function zoom_in() {
		if (zoom > 80) {
			return;
		}
		zoom = zoom * 2;
		apply_zoom();
	}
	
	function adjust_page_height() {
		// adjust the height of the panel
		if ( $('#svg_panel svg') ) {
			zoomed_height = pageHeight * zoom / 100;
			if ( zoomed_height < $('#svg_panel svg').height() ) {
				zoomed_height = $('#svg_panel svg').height();
			}
			$('#svg_output').height( zoomed_height ); // slightly more for making sure we have no scroll bar	
		}
	}
	
	function highlight_id( id_string ) {
		$(id_string).css({
			"fill": "#ff0000",
			"stroke": "#ff0000",
			"fill-opacity": "1.0",
			"stroke-opacity": "1.0"
		});	
		return;
	}

	function removeHighlight( id_string ) {
		$(id_string).css({
			"fill": "#000000",
			"stroke": "#000000",
			"fill-opacity": "1.0",
			"stroke-opacity": "1.0"
		});	
		return;
	}

	function reapplyHighlights() {
		for(var i = 0; i < drag_id.length; i++) {
			var id = drag_id[i];
			var type = $(document.getElementById(id)).attr("class");
			switch (type) {
				case "note":
					highlight_id("#" + id + " > rect, #" + id + " > use");
					break;
				default:
					highlight_id("#" + id);
					break;
			}
		}
	}

	function clearHighlights() {
		for(var i = 0; i < drag_id.length; i++) {
			var id = drag_id[i];
			var type = $(document.getElementById(id)).attr("class");
			switch (type) {
				case "note":
					removeHighlight("#" + id + " > rect, #" + id + " > use");
					break;
				default:
					removeHighlight("#" + id);
					break;
			}
		}
		drag_id.length = 0;
	}

	function transposeOctave() {
		var voice = prompt("Please enter the voice to transpose");
		if (voice == null) return;

		var xsl = Saxon.requestXML("xslt/transposeOctave.xsl");
		var xml = Saxon.parseXML(editor.getValue());
		var proc = Saxon.newXSLT20Processor(xsl);
		proc.setParameter(null, "voice", voice);
		load_data( Saxon.serializeXML(proc.transformToDocument(xml)));
	}

	function switchSource() {
		var source = prompt("Please enter the original source.");
		if (source == null) return;

		app_xpath = "./rdg[contains(@source, '" + source + "')]";
 		updateVerovio();
	}

	function resizeAce() {
	 	$('#editor').width($("#xml_panel").width() - 5);
	 	$('#editor').height($("#paren_panel").height());
	};

	// are there other attributes to change? This function
	// can be made more general.
	function italicizeLyrics() {
		for (var i = 0; i < drag_id.length; i++) {
			var verse_id = drag_id[i];
			var syl_id = $("#" + verse_id).find(".syl").attr("id");
			editSet( 'fontstyle', 'italic', syl_id);
			var res = vrvToolkit.edit( editorAction );
		}
		reload_page( drag_id[0] );
		updateAce();
	}	

	function editSet( attr, value, id ) {
		if (drag_id.length == 0) {
			return;
		}
		editorAction = JSON.stringify({ action: 'set', param: { elementId: id,
			attrType: attr, attrValue: value }
		});
		var res = vrvToolkit.edit( editorAction );
		reload_page( drag_id[0] );
	};

	function editInsert( elementType ) {
		if ((drag_id.length < 2) || (drag_id[0] == drag_id[1]) ) {
			console.log("Select two (different) notes!")
			return;
		}
		editorAction = JSON.stringify({ action: 'insert', param: { elementType: elementType,
			startid: drag_id[1], endid: drag_id[0] }
		});
		var res = vrvToolkit.edit( editorAction );
		reload_page( drag_id[0] );
	};

	function saveFile() {
		if (fileName != null ) {
			var mei = editor.getValue();
			var meiBlob = new Blob([mei], {type: "text/plain;charset=utf-8"});
			saveAs(meiBlob, fileName);
		}
	}

	function openFile(evt) {
		var f = evt.target.files[0]; 

		if (f) {
			var r = new FileReader();
			r.onload = function(e) {
				fileName = f.name;
				var contents = e.target.result;
				load_data(contents);
			}
			r.readAsText(f);
		} else { 
			alert("Failed to load file");
		}
	}

	function addConsoleText(text) {
		consoleText = consoleText + "\n" + text;
	}

	function displayLog() {
		window.alert(consoleText);
	}

//]]>
</script>

 
<!-- top navbar -->
<div id="navbar" class="navbar navbar-default">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas">
		 <span class="icon-bar"></span>
		 <span class="icon-bar"></span>
		 <span class="icon-bar"></span> 
	</button>
	<a class="navbar-brand logo-nav" href="{{ site.baseurl }}/index.html">
		<img src="{{ site.baseurl }}/images/verovio-fadded-50.png" />
	</a>
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-sm">File</button>
		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#" onclick="$('#fileinput').trigger('click'); return false;">Open</a>
				<input id="fileinput" type="file" style="display: none;" /></li>
			<li><a href="#" onclick="saveFile(); return false;">Save</a></li>
			<li><a href="#" onclick="displayLog(); return false;">Show Log</a></li>
		</ul>
	</div>		
	<div class="btn-group">
		<button type="button" class="btn btn-default btn-sm">Edit</button>
		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#" onclick="undoAce(); return false;">Undo</a></li>
			<li><a href="#" onclick="redoAce(); return false;">Redo</a></li>
			<li role="separator" class="divider"></li> 
			<li><a href="#" onclick="transposeOctave(); return false">Transpose octave</a></li>
			<li><a href="#" onclick="switchSource(); return false;">Switch Source</a></li>
			<li><a href="#" onclick="italicizeLyrics(); return false;">Italicize Lyrics</a></li>			
		</ul>
	</div>
		<div class="btn-group">
		<button type="button" class="btn btn-default btn-sm">Insert</button>
		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#" onclick="fetchAnnot('text/musicAnnot.xml', drag_id, 'music'); return false;">Critical Music Note</a></li>
			<li><a href="#" onclick="fetchAnnot('text/musicAnnot.xml', drag_id, 'musicMeasure'); return false;">Critical Music Note (measure)</a></li> 
			<li><a href="#" onclick="fetchAnnot('text/lyricAnnot.xml', drag_id, 'lyric'); return false;">Critical Lyric Note</a></li>
			<li><a href="#" onclick="fetchAnnot('text/tempoAnnot.xml', drag_id, 'tempo'); return false;">Tempo Indication</a></li>
			<li><a href="#" onclick="fetchIncipit(); return false;">Incipit Clefs</a></li>
		</ul>
	</div>
	<div class="btn-group" role="group">
			<button onclick="zoom_out()" class="btn btn-sm btn-default" type="button">
				<span class="glyphicon glyphicon-zoom-out"/>
			</button>
			<button onclick="zoom_in()" class="btn btn-sm btn-default" type="button">
				<span class="glyphicon glyphicon-zoom-in"/>
			</button>
	</div>
	<div class="btn-group" role="group">
		<button onclick="first_page()" class="btn btn-sm btn-default" type="button">
			<span class="glyphicon glyphicon-fast-backward"/>
		</button>
		<button onclick="prev_page()" class="btn btn-sm btn-default" type="button">
			<span class="glyphicon glyphicon-backward"/>
		</button>
		<button onclick="next_page()" class="btn btn-sm btn-default" type="button">
			<span class="glyphicon glyphicon-forward"/>
		</button>
		<button onclick="last_page()" class="btn btn-sm btn-default" type="button">
			<span class="glyphicon glyphicon-fast-forward"/>
		</button>
	</div>
	<div class="btn-group" role="group">
			<button onclick="updateAce(); return false;" class="btn btn-sm btn-default" type="button">
				<span class="glyphicon glyphicon-circle-arrow-left"/>
			</button>
			<button onclick="updateVerovio(); return false;" class="btn btn-sm btn-default" type="button">
				<span class="glyphicon glyphicon-circle-arrow-right"/>
			</button>
	</div>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default active btn-sm">
			<input type="radio" name="clefs" value="clefs_modernized" checked="true"/>Modern clefs
		</label>
		<label class="btn btn-default btn-sm">
			<input type="radio" name="clefs" value="clefs_original"/>Original clefs
		</label>
	</div>
</div>
<div id="parent_panel">
	<div id="xml_panel" >
		<div id="editor"></div>
	</div>
	<div id="svg_panel" style="background-color: #fff">
		<div id="svg_output"> </div>
	</div>
</div>

<div id="context-menu">
	<ul class="dropdown-menu" role="menu">
		{% for d in page.context-menus %}
		{% if d.divider %}<li class="divider"></li>
		{% else %}
		<li><a class="ct-menu-{{ d.class }}" tabindex="-1" href="#" onclick="{{ d.action}}; return false;">{% if d.icon %}<span class="glyphicon {{ d.icon }}"/>{% endif %}{{ d.name }}</a></li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

<script type="text/javascript">
//<![CDATA[
	$( document ).ready(function() {
		
		$(window).keyup(function(event){
			// We need to make sure not to capture event on text fields
			if ( $(event.target).hasClass('form-control') ) {
				return;
			}
			if ( event.ctrlKey && (event.keyCode == 37) ) {
				first_page();
			}
			else if ( event.ctrlKey && (event.keyCode == 39) ) {
				last_page();
			}
			else if ( event.keyCode == 107 ) {
				zoom_in();
			}
			else if ( event.keyCode == 109 ) {
				zoom_out();
			}
			else if ( event.keyCode == 27 ) {
				clearHighlights();
			}
		});


		
		editor = ace.edit("editor");
		editor.getSession().setMode("ace/mode/xml");
		editor.$blockScrolling = Infinity; // included to disable warning message
		UndoManager = require("ace/undomanager").UndoManager;
		editor.getSession().setUndoManager(new UndoManager());

		document.getElementById('fileinput').addEventListener('change', openFile, false);

		// Combine click functions for note and rest?
		$('#svg_output').on('click', ".note", function(e) {
			var t = e.target;
			// if we clicked a note:
			if (t.parentNode.getAttribute("class") == "note") {
				var id = t.parentNode.attributes.id.value;

				if (drag_id.indexOf(id) == -1) { // make sure we don't add it twice
					drag_id.unshift(id);
					highlight_id("#" + id + " > rect, #" + id + " > use");
				}
				else {
					drag_id.splice( drag_id.indexOf(id), 1);
					removeHighlight("#" + id + " > rect, #" + id + " > use");
				}

				editor.find('xml:id="' + id + '"');
			}
			// else if we clicked a lyric
			else if (t.parentNode.tagName == "text") {
				var verse_id = t.closest(".verse").attributes.id.value

				if (drag_id.indexOf(verse_id) == -1) {
					drag_id.unshift(verse_id);
						highlight_id("#" + verse_id);
				}
				else {
					drag_id.splice( drag_id.indexOf(verse_id), 1);
					removeHighlight("#" + verse_id);
				}
				editor.find('xml:id="' + verse_id + '"');
			}
		})

		$('#svg_output').on('click', ".mRest, .rest", function(e) {
			var t = e.target;
			var id = t.parentNode.attributes.id.value;
			//console.log(t.parentNode.getAttribute("class"));
			if (drag_id.indexOf(id) == -1) {
				drag_id.unshift(id);
				highlight_id("#" + id);
			}
			else {
				drag_id.splice( drag_id.indexOf(id), 1);
				removeHighlight("#" + id);
			}
		})

		$(window).resize(function() {
			apply_zoom();
			resizeAce();
		});

		$('input[type=radio][name=clefs]').change(function() {
			if (this.value == 'clefs_modernized') {
				app_xpath = "";
				updateVerovio();
			}
			else {
 				app_xpath = "./rdg[contains(@label, 'original')]";
 				updateVerovio();
			}
		});

		$('#svg_output').contextmenu( {
			before: function (e, element, target) {
				e.preventDefault();
				if (drag_id.length == 0) {
					e.preventDefault();
					this.closemenu();
					return false;
				}
				return true;
			}
		});
		
		// Adjust the size of the svg_output and the zoom according to the div (screen) siz
		width = $('#svg_panel').width();
		zoom = Math.min( Math.floor( 100 * width / 2100 ), 40 );
	
		// Load the default file or the file passed in the URL
		file = location.search.substring(1);
		fileName = file.replace(/^.*[\\\/]/, '');

		if (file.length == 0) {
			file = "examples/downloads/M-04-6-02.mei";
			fileName = "M-04-6-02.mei";
		}
		$( "#toggle_options" ).click();
		$.get( file , function( data ) {
			load_data( data );
		}, 'text');
	});


//]]>
</script>
